<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns	= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		    = "it.imagecreation.d2d"
	version 	= "1.0">

	<name>From Disco 2 Disco</name>

	<description>
       Applicazione di test per la gestione degli ingressi in discoteca
	</description>

	<author href="http://www.imagecreation.it" email="ice8180@gmail.com">
		Ilaria
	</author>

  <icon src="d2d_72.png" width="72" height="72" />
  <icon src="d2d_48.png" width="48" height="48" />
  <icon src="d2d_36.png" width="36" height="36" />

  <gap:splash src="splash.jpg" />
</widget>